<nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
  <div class="navbar-header">
    <img src="assets/my3js32az.jpg" alt="" style="width: 100px; height: 40px; margin-right: 5px;">
  </div>
  <div class="container">

    <ul class="navbar-nav">
      <div *ngFor="let menu of menus">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDrop" data-toggle="dropdown">{{menu.nombre}}
          </a>
          <div *ngIf="menu.procesos.length >0">
            <div class="dropdown-menu ">
              <div *ngFor="let proc of menu.procesos">
                <a class="dropdown-item" href="#">{{proc.nombre}}</a>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>



    <select [(ngModel)]="codRoles" (change)="caputar()" class="s1 form-control navbar">
      <option [ngValue]=rol.codr *ngFor="let rol of roles">{{rol.nombre}}</option>

    </select>
  </div>
</nav>