<nav class="navbar navbar-expand-lg text-white bg-dark ">
  <div class="container-fluid ">
      <div class="navbar-header">
          <img src="assets/my3js32az.jpg" alt="" style="width: 100px; height: 40px; margin-right: 5px;">
      </div>
      <div class="collapse navbar-collapse" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu " >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
      </div>
      
      <select class="s1 form-control navbar">
          <option>Invitado</option>
          <option>Home </option>
          <option>Gestion de Alumnos </option>
          <option>Gestion Materias </option>
      </select>
  </div>
</nav>