<!-- <nav class="f1 navbar navbar-expand-lg navbar-dark bg-dark">

    
   
</nav> -->
<nav class="f1 navbar navbar-inverse text-white bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Desconectar</a>
      </div>
      <div class="col text-center">
        <p>© 2020 copyright: <span style="color: rgba(0, 119, 255, 0.678);"> Taller web</span> </p>
     </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuario: Conectado</a></li>
      </ul>
    </div>
  </nav>

